  .block {
    position: relative;
  }
  
  .mask {
    overflow: hidden;
    width: 4300px;
    height: 580px;
  }


#right{
	width:auto;
	height: auto;
	background-color: #1E90FF;
	border-radius: 10px;
}

#left{
	width:auto;
	height:auto;
	background-color: #1E90FF;
	border-radius: 10px;
}